<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

        <div class="container">
            <div class="row">
            <div class="col-md-12">
               
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, doloremque, dolorum, ea, eius, eos, eveniet, facere, facilis, fuga ipsa ipsam iste itaque iusto laboriosam libero magni molestiae nam natus necessitatibus neque nisi nostrum nulla obcaecati odio officia omnis optio pariatur perferendis perspiciatis placeat porro possimus praesentium quae quam quas quia quibusdam quod ratione recusandae repellendus reprehenderit rerum sint sit soluta sunt tempora tenetur totam ullam unde vel vero voluptas voluptate voluptatum.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, doloremque, dolorum, ea, eius, eos, eveniet, facere, facilis, fuga ipsa ipsam iste itaque iusto laboriosam libero magni molestiae nam natus necessitatibus neque nisi nostrum nulla obcaecati odio officia omnis optio pariatur perferendis perspiciatis placeat porro possimus praesentium quae quam quas quia quod ratione recusandae repellendus reprehenderit rerum sint sit soluta sunt tempora tenetur totam ullam unde vel vero voluptas voluptate voluptatum.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, doloremque, dolorum, ea, eius, eos, eveniet, facere, facilis, fuga ipsa ipsam iste itaque iusto laboriosam libero magni molestiae nam natus necessitatibus neque nisi nostrum nulla obcaecati odio officia omnis optio pariatur perferendis perspiciatis placeat porro possimus praesentium quae quam quas quia quod ratione recusandae repellendus reprehenderit rerum sint sit soluta sunt tempora tenetur totam ullam unde vel vero voluptas voluptate voluptatum.
                </p>
            </div>
        </div>
</body>
</html>